{% extends "user/gist/_base.html" %}

{% block gist_content %}
<form class="pb-2" action="{{ request.path }}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <input class="form-control width-full" type="text" name="description" value="{{ context_data.gist.description|default:'' }}" placeholder="Gist description…" autocomplete="off" />
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save</button>
        <a class="btn btn-invisible" href="{{ context_data.gist.get_absolute_url }}">Cancel</a>
    </div>
</form>
<script src="https://gist.github.com/{{ context_data.github_user.login }}/{{ context_data.gist.id }}.js"></script>
{% endblock %}

