<div class="d-md-flex flex-items-center mt-2">
    <ul class="d-md-flex list-style-none f6">
        {% include "user/overview/_blocks/profile/footer/followers.html" %}
        {% include "user/overview/_blocks/profile/footer/following.html" %}
        {% include "user/overview/_blocks/profile/footer/location.html" %}
        {% include "user/overview/_blocks/profile/footer/blog.html" %}
        {% include "user/overview/_blocks/profile/footer/twitter.html" %}
        {% include "user/overview/_blocks/profile/footer/email.html" %}
    </ul>
</div>
