{% extends "user/gist/_base.html" %}

{% load emoji_tags %}


{% block container %}
<div class="container-lg px-3">
    <div class="d-flex flex-justify-center">
      <div class="">
        <div itemprop="about" class="pb-4">
          <a class="Link--muted" href="{{ gist.get_absolute_url }}/description">
              {% if gist.description %}{{ gist.description|emoji_replace }}{% endif %}
          </a>
        </div>
<div>
    {% for tag in gist.get_tag_list %}
    <a href="{{ tag }}">#{{ tag }}</a>
    {% endfor %}
</div>
<div class="py-1">
    {% for filename,raw_url in gist.filename2raw_url.items %}
    <a class="btn btn-sm Link--muted px-1 py-0" href="/download?gist={{ gist.id }}&filename={{ filename }}" title="{{ filename }}">
    <svg class="octicon" style="width:16px;height:16px"><use xlink:href="#download" /></svg> {{ filename|truncatechars:30 }}
    </a>
    {% endfor %}
</div>
      <script src="https://gist.github.com/{{ github_user.login }}/{{ gist.id }}.js"></script>
    </div>
  </div>
</div>
{% endblock %}
