{% load timestamp2datetime %}

<strong>Core API Ratelimit</strong>
<table class="mb-2" align="center">
    <tr>
        <td class="color-text-secondary text-left">limit:</td>
        <td class="px-2 text-left">{{ token.core_ratelimit_limit|default:'-' }}</td>
    </tr>
    <tr>
        <td class="color-text-secondary text-left">remaining:</td>
        <td class="px-2 text-left">{{ token.core_ratelimit_remaining|default:'-' }}</td>
    </tr>
    <tr>
        <td class="color-text-secondary text-left">used:</td>
        <td class="px-2 text-left">{{ token.core_ratelimit_used|default:'-' }}</td>
    </tr>
    {% if token.core_ratelimit_reset %}
    <tr>
        <td class="color-text-secondary text-left">Reset:</td>
        <td class="px-2"><local-time datetime="{{ token.core_ratelimit_reset|date:'Y-m-d' }}T{{ token.core_ratelimit_reset|date:'H:i:s' }}Z" month="short" day="numeric" year="numeric" title="{{ token.core_ratelimit_reset|date:'H:i:s' }} GMT+3">{{ token.core_ratelimit_reset|timestamp2datetime|date:'H:i:s' }} GMT+3</local-time></td>
    </tr>
    {% endif %}
</table>
