Django
dj-database-url
django-github-oauth
django_passwordless_user
django-passwordless-auth
django_installed_apps_generator
django-postgres-database-size
django_postgres_refresher
django_postgres_rule
django_exception
django_pg_sequences
django_pg_settings
django_pg_tables
django_sql_executor

django-emoji
django-manifest-loader

gunicorn
psycopg2
pytz
requests
