.cl-hero {
    position: relative;
    height: auto;
}
.cl-post-feed__top {
    background: #f6f8fa;
    height: 292px;
    display: none;
}
.all-posts {
    background: #fff;
}
.cl-post-feed .all-posts__container {
    padding: 20px;
}
.cl-post-feed .all-posts__posts {
    padding: 0!important;
}
.cl-post-feed .all-posts .post-item {
    border-left: 1px solid #d1d5da;
    position: relative;
    padding: 24px 20px 24px 58px;
}
.cl-post-feed .all-posts .post-item:before {
    background: #d1d5da;
    content: "";
    left: 0;
    height: 1px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    z-index: 1;
}
.post-item__date {
    color: #6a737d;
    padding-right: 10px;
}
.post-item__title a {
    color: #24292e;
}
.post-featured {
    position: relative;
    z-index: 1;
}
.post__header {
    position: relative;
}
.post__header-content {
    position: relative;
    z-index: 1;
}
.post__meta {
    color: #959da5;
}
.post__content {
    position: relative;
}

.alt-mono-font {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
}
