.issues-reset-query-icon {
    width: 18px;
    height: 18px;
    padding: 1px;
    margin-right: 3px;
    color: #fff;
    text-align: center;
    background-color: #6a737d;
    border-radius: 3px;
}
.issues-reset-query {
    font-weight: 600;
    color: #586069;
}
.issues-reset-query:hover {
    color: #0366d6;
    text-decoration: none;
}
