.btn-with-count {
    float: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.social-count {
    position: relative;
    float: left;
    padding: 3px 12px;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    color: #24292e;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid rgba(27,31,35,.15);
    border-left: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0 1px 0 rgba(27,31,35,.04), inset 0 1px 0 hsla(0,0%,100%,.25);
}

.timeline-comment--caret:before {
    border-width: 8px;
    border-right-color: #d1d5da;
}
.timeline-comment--caret:after, .timeline-comment--caret:before {
    position: absolute;
    top: 11px;
    right: 100%;
    left: -16px;
    display: block;
    width: 0;
    height: 0;
    pointer-events: none;
    content: " ";
    border-color: transparent;
    border-style: solid solid outset;
}
