.user-repo-search-results-summary {
    white-space: normal;
}
.vcard-detail {
    padding-left: 22px;
}
.vcard-detail .octicon {
    margin-left: -22px;
}
.vcard-names-container {
    top: 0;
}
.blocked-user-notice {
    width: 100%;
    padding: 8px 16px;
    color: #cb2431;
    text-align: center;
    border: 1px solid #d73a49;
    border-radius: 3px;
}
