.SideNav {
    background-color: #fafbfc;
}
.SideNav-item {
    position: relative;
    display: block;
    width: 100%;
    padding: 16px;
    color: #586069;
    text-align: left;
    background-color: transparent;
    border: 0;
    border-top: 1px #e1e4e8 solid;
}
.SideNav-item:first-child {
    border-top: 0;
}
.SideNav-item::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 3px;
    pointer-events: none;
    content: "";
}
.SideNav-item[aria-current="page"], .SideNav-item[aria-selected="true"] {
    font-weight: 500;
    color: #24292e;
    background-color: #fff;
}
.SideNav-item[aria-current="page"]::before, .SideNav-item[aria-selected="true"]::before {
    background-color: #e36209;
}
.SideNav-item:active {
    background-color: #fff;
}
.SideNav-item:hover, .SideNav-item:focus {
    color: #24292e;
    text-decoration: none;
    background-color: #f6f8fa;
    outline: none;
}
.SideNav-subItem {
    position: relative;
    display: block;
    width: 100%;
    padding: 4px 0;
    color: #0366d6;
    text-align: left;
    background-color: transparent;
    border: 0;
}
.SideNav-subItem[aria-current="page"], .SideNav-subItem[aria-selected="true"] {
    font-weight: 500;
    color: #24292e;
}
.color-green-5 {
    color: #28a745 !important;
}
