.state, .State {
    display: inline-block;
    padding: 5px 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #6a737d;
    border: 1px solid transparent;
    border-radius: 2em;
}
.State--green {
    background-color: #28a745;
}
.State--red {
    background-color: #d73a49;
}
