<div class="block-text text-right">

<button class="btn" id="clipboard_btn" onclick="copyContent()">
    <svg class="octicon mr-1" style="width:16px;height:16px"><use xlink:href="#copy" /></svg>Copy to clipboard
</button>
<script>
function copyContent() {
    let copyText = document.getElementById('textarea').innerHTML;
    navigator.clipboard.writeText(copyText);
    document.getElementById('clipboard_btn').classList.add("color-bg-success");
}
</script>

    <a class="btn" href="/gist-id.txt?login={{ request.user.login }}">
        <svg class="octicon mr-1" style="width:16px;height:16px"><use xlink:href="#browser" /></svg>View in browser</a>
    <a class="btn" href="/gist-id.txt?login={{ request.user.login }}&download=1">
        <svg class="octicon mr-1" style="width:16px;height:16px"><use xlink:href="#download" /></svg>Download</a>
</div>
<div>
<textarea class="my-2 text-left text-mono" id="textarea" readonly rows="50" cols="42">{% for gist in gist_list %}
{{ gist.id }}{% endfor %}
</textarea>
</div>
