<div class="clearfix">
<div  class="col-12 col-md-8 mb-4 mb-md-0">
    <div class="d-flex flex-column flex-lg-row flex-auto">
        <div class="auto-search-group mb-1 mb-lg-0 mr-lg-1 flex-auto">
            {% include "user/gists/_blocks/search/form.html" %}
        </div>
        <div class="d-flex">
            {% include "user/gists/_blocks/search/details.html" %}
            {% if request.user.id == github_user.id %}
            <a class="btn btn-primary" href="/new">
                <svg class="octicon" style="width:16px;height:16px"><use xlink:href="#code-square" /></svg> New
            </a>
            {% endif %}
        </div>
    </div>
</div>
<div  class="col-12 col-md-8 mb-4 mb-md-0">
    right
</div>
