{% load timesince %}

<ul class="d-md-flex d-none pagehead-actions float-none">
<li class="mr-1" style="list-style-type:none">
<a class="btn btn-sm Link--muted" {% if context_data.github_user_refresh_lock %}aria-disabled="true"{% endif %} rel="nofollow" href="/{{ context_data.login  }}/refresh">
  <svg class="octicon mr-1" style="width:16px;height:16px"><use xlink:href="#sync" /></svg>Refresh{% if context_data.github_user_refresh_lock %}ing...{% endif %}
</a>
    </li>

    <li class="mr-1" style="list-style-type:none">
<a class="btn btn-sm Link--muted text-bold {% if '/clone' in request.path %}selected{% endif %}" href="{{ context_data.github_user.get_absolute_url }}/clone" title="{{ gist.id }}">
  <svg class="octicon" style="width:16px;height:16px"><use xlink:href="#git-pull-request" /></svg> Clone
</a>
    </li>
    <li class="mr-1">
<a class="btn btn-sm Link--muted text-bold {% if '/download' in request.path %}selected{% endif %}" href="{{ context_data.github_user.get_absolute_url }}/download" title="{{ gist.id }}">
  <svg class="octicon" style="width:16px;height:16px"><use xlink:href="#download" /></svg> Download
</a>
    </li>
    <li class="mr-1">
<a class="btn btn-sm Link--muted text-bold {% if '/api' in request.path %}selected{% endif %}" href="{{ context_data.github_user.get_absolute_url }}/gists.json" title="{{ context_data.github_user.get_absolute_url }}/gists.json" target="_blank">
  <svg class="octicon" style="width:16px;height:16px"><use xlink:href="#file" /></svg> Json
</a>
</li>
</ul>
