{% extends "user/_base.html" %}

{% block extra_head %}
{% include "_blocks/script.html" %}
{% endblock %}

{% block container %}
<div class="page-content container-lg">
<div class="clearfix py-1">
  <div class="float-left d-flex">
    {% include "user/gists/_blocks/details/type.html" %}
  </div>
  <div class="float-right">
    <button class="btn" id="clipboard_btn" onclick="copy2clipboard()"><svg class="octicon mr-1" style="width:16px;height:16px"><use xlink:href="#copy" /></svg> Copy</button>
    <a class="btn" href="{{ request.path }}.sh">Raw</a>
    <button class="btn" type="button" onclick="download('{{ context_data.clone_filename }}')"><svg class="octicon mr-1" style="width:16px;height:16px"><use xlink:href="#download" /></svg>Download</button>
  </div>
</div>
{% include "user/clone/_blocks/textarea.html" %}
</div>
{% endblock %}
