{% extends "user/_base.html" %}

{% block container %}
<div class="page-content container-lg">
  <h3 class="mb-2 text-center text-mono">git clone</h3>
  <div class="py-3">
    <strong>IDs</strong> text file
    <hr />
    <p><a href="/{{ github_user.login }}/id.txt">https://domain.com/{{ github_user.login }}/id.txt</a></p>
  </div>
  <div class="py-3">
  <strong>URLs</strong> text file
  <hr />
  <table class="width-full">
    <thead>
      <th class="px-1 text-left">url</th>
      <th class="px-1 text-left">format</th>
    </thead>
  <tr class="Box-row Box-row--hover-gray">
    <td class="p-1"><a href="/{{ github_user.login }}/clone.txt?protocol=ssh">https://domain.com/{{ github_user.login }}/clone.txt?protocol=ssh</a></td>
    <td class="color-bg-subtle px-1 text-mono">
    git@gist.github.com:&lt;ID&gt;.git</td>
  </tr>
  <tr class="Box-row Box-row--hover-gray">
    <td class="p-1"><a href="/{{ github_user.login }}/clone.txt?protocol=https">https://domain.com/{{ github_user.login }}/clone.txt?protocol=https</a></td>
    <td class="color-bg-subtle px-1 text-mono">
      https://gist.github.com/&lt;ID&gt;.git
    </td>
  </tr>
  </table>
  </div>
</div>
{% endblock %}
