{% extends "user/_base.html" %}

{% block container %}
<div class="clearfix px-2">
  <div class="float-left col-10 p-1">
      <div class="position-relative">
          {% if context_data.github_user.is_restricted %}
            {% include "user/gists/_blocks/restricted.html" %}
          {% else %}
            {% if not queryset_count %}
              {% include "user/gists/_blocks/blankslate.html" %}
            {% else %}
              {% include "user/gists/_blocks/search.html" %}
              {% include "_blocks/search/results.html" %}
              {% include "user/gists/_blocks/table.html" %}
            {% endif %}
          {% endif %}
      </div>
  </div>
  <div class="float-right col-2 p-1">
    {% include "user/_blocks/filter/language_filter.html" %}
    <hr />
    {% include "user/_blocks/filter/tag_filter.html" %}
  </div>
</div>
{% endblock %}
