<h4 class="h5-mktg mb-2">Search & filters</h4>
<ul class="list-style-none">
  <li class="d-flex mb-1">
    <svg class="octicon flex-shrink-0 mr-2 color-text-success" height="16" width="12"><use xlink:href="#check" /></svg>search by description and filenames
  </li>
  <li class="d-flex mb-1">
    <svg class="octicon flex-shrink-0 mr-2 color-text-success" height="16" width="12"><use xlink:href="#check" /></svg>filter by languages
  </li>
  <li class="d-flex mb-1">
    <svg class="octicon flex-shrink-0 mr-2 color-text-success" height="16" width="12"><use xlink:href="#check" /></svg>filter by tags
  </li>
</ul>
