<details class="details-reset details-overlay position-relative mt-1 mt-lg-0 mr-1">
<summary class="btn{% if css_class %} {{ css_class }}{% endif %}" aria-haspopup="menu" role="button">
    {{ summary_name }}{% if summary_value %}:{% endif %}
    <span class="text-bold">{{ summary_value }}</span>
    <span class="dropdown-caret"></span>
</summary>
<details-menu class="SelectMenu right-lg-0" role="menu">
  <div class="SelectMenu-modal">
    <header class="SelectMenu-header">
      <span class="SelectMenu-title">{{ menu_title }}</span>
    </header>
    <div class="SelectMenu-list">
        {% for item in menu_item_list %}
        <a class="SelectMenu-item {% if item.selected %}selected{% endif %}" {% if item.selected %}aria-checked="true"{% endif %} role="menuitemradio" href="{{ item.url }}" rel="nofollow">
        {% if item.selected %}
        <svg class="octicon select-menu-item-icon" style="width:16px;height:16px"><use xlink:href="#check" /></svg>
        {% else %}
        <span class="mx-2"></span>
        {% endif %}
        <span class="pl-2 text-normal width-full {% if item.selected %}text-bold{% endif %}">
            {{ item.description }}
            {% if item.count %} <span class="Counter float-right">{{ item.count }}</span>{% endif %}
        </span>
        </a>
        {% endfor %}
    </div>
</details-menu>
</details>
