<div class="footer container-lg width-full p-responsive" role="contentinfo">
<div class="d-flex flex-items-between footer container-lg my-5 px-0" role="contentinfo">

  <div class="d-flex flex-justify-center flex-row flex-auto">
    <ul class="col-4 col-sm-4 col-lg-4 col-xl-3 list-style-none f6 color-fg-muted pl-lg-4">
        <li class="mb-1 color-fg-default"><a class="color-fg-default text-bold" href="/about">About</a></li>
        <li class="mb-1"><a class="Link--secondary" href="/features">Features</a></li>
        <li class="mb-1"><a class="Link--secondary" href="/pricing">Pricing</a></li>
    </ul>
    <ul class="col-4 col-sm-4 col-lg-4 col-xl-3 list-style-none f6 color-fg-muted pl-lg-4">
        <li class="mb-1 color-fg-default"><a class="color-fg-default text-bold" href="/news">News</a></li>
        <li class="mb-1"><a class="Link--secondary" href="/changelog">Changelog</a></li>
        <li class="mb-1"><a class="Link--secondary" href="/follow">Follow</a></li>
        <li class="mb-1 color-fg-default"><a class="Link--secondary" href="/readmap">Roadmap</a></li>
    </ul>
    <ul class="col-4 col-sm-4 col-lg-4 col-xl-3 list-style-none f6 color-fg-muted pl-lg-4">
        <li class="mb-1 color-fg-default text-bold">Support</li>
        <li class="mb-1"><a class="Link--secondary" href="/status">Status</a></li>
        <li class="mb-1"><a class="Link--secondary" href="https://github.com/USER/REPO/issues">Issues</a></li>
        <li class="mb-1"><a class="Link--secondary" href="https://github.com/USER/REPO/discussions">Feedback</a></li>
        <li class="mb-1"><a class="Link--secondary" href="/contact">Contact</a></li>
    </ul>
  </div>
</div>
</div>
