{% load timestamp_timesince %}
{% load emoji_tags %}

<table class="width-full">
{% for gist in context_data.popular_gist_list %}
<tr class="Box-row Box-row--hover-gray">
  <td class="no-wrap px-1" style="width: 1%;">
    <a class="f6 no-wrap text-mono" href="{{ gist.get_absolute_url }}#{{ gist.filenames.0 }}" title="{{ gist.filename_list|join:',' }}">
    {{ gist.filename_list.0|truncatechars:30 }}
  </a>
  </td>
  <td class="px-1 width-full">
    <a class="f6 Link--muted mr-2" href="/{{ context_data.github_user.login }}/{{ gist.id }}">
    {% if gist.description %}
        {{ gist.description|truncatechars:150|emoji_replace }}
    {% endif %}
    </a>
  </td>
  <td class="f6 no-wrap px-1">
    {% for language in gist.language_list %}
    <a class="f6 Link--muted" href="{{ request.path }}?language={{ language }}&columns={{ request.GET.columns }}&sort={{ request.GET.sort }}&v={{ request.GET.v }}">{{ language }}</a>{% if not forloop.last %},{% endif %}
    {% endfor %}
  </td>
  <td class="no-wrap px-1">
    {% if gist.stargazers_count %}
    <a class="f6 Link--muted" href="https://gist.github.com/{{ gist.id }}" target="_blank">
      <svg class="octicon" style="width:16px;height:16px"><use xlink:href="#star" /></svg> {{ gist.stargazers_count }}
     {% endif %}
    </a>
  </td>
</tr>
{% endfor %}
</table>
