{% if context_data.tag_list %}
<div class="mb-3 mb-3 pb-3 border-bottom">
  <h4 class="f4 mb-2 text-normal">
    <a class="Link--muted color-fg-default" href="{{ context_data.github_user.get_absolute_url }}/tags">
      Tags <span class="Counter">{{ context_data.tag_list|length }}</span>
    </a>
  </h4>
  <table>
  {% for tag in context_data.tag_list %}
  <tr class="Box-row Box-row--hover-gray border-bottom-0 border-top-0">
    <td class="px-1"><a class="Link--muted d-block" href="{{ context_data.github_user.get_absolute_url }}/gists?tag={{ tag.slug }}">{{ tag.slug }}</a></td>
    <td class="px-1"><a class="Link--muted d-block" href="{{ context_data.github_user.get_absolute_url }}/gists?tag={{ tag.slug }}"><span class="Counter">{{ tag.count }}</span></a></td>
    {% if tag.percent %}
    <td class="px-1"><a class="Link--muted d-block" href="{{ context_data.github_user.get_absolute_url }}/gists?tag={{ tag.v }}">{{ tag.percent }}%</a></td>
    {% endif %}
  </tr>
  {% endfor %}
  </table>
</div>
{% endif %}
