{% load timestamp_timesince %}
{% load emoji_tags %}

<table class="width-full">
{% for trash in trash_list %}
<tr class="Box-row Box-row--hover-gray">
  <td class="no-wrap" style="width: 1%;">
    {% if not trash.public %}
    <a class="Link--muted" href="{{ trash.get_absolute_url }}">
      <svg class="octicon" style="width:16px;height:16px"><use xlink:href="#lock" /></svg></a>
    {% endif %}
  </td>
  <td class="no-wrap px-1" style="width: 1%;">
    <a class="f6" href="{{ trash.get_absolute_url }}">{{ trash.filename_list.0|truncatechars:30 }}</a>
  </td>
  <td class="px-1 width-full">
    <a class="f6 Link--muted mr-2" href="{{ trash.get_absolute_url }}">
    {% if trash.description %}
        {{ trash.description|truncatechars:150|emoji_replace }}
    {% endif %}
    </a>
  </td>
  {% if trash.fork_of %}
  <td class="f6 no-wrap px-1">
    <span class="color-fg-muted f6">forked from</span> <a class="f6" href="{{ trash.fork_of.get_absolute_url }}">{{ trash.fork_of.owner.login }}/{{ trash.fork_of.filename_list.0|truncatechars:70 }}</a>
  </td>
  {% endif %}
  <td class="f6 no-wrap px-1">
    {% for language_name in trash.language_list %}
    <a class="f6 Link--muted" href="{{ request.path }}?language={{ language_name }}&columns={{ request.GET.columns }}&sort={{ request.GET.sort }}&v={{ request.GET.v }}">{{ language_name }}</a>{% if not forloop.last %},{% endif %}
    {% endfor %}
  </td>
  <td class="f6 no-wrap px-1">
      {% for tag in trash.get_tag_list %}
      <a class="f6 Link--muted" href="{{ request.path }}?tag={{ tag }}&columns={{ request.GET.columns }}&sort={{ request.GET.sort }}&v={{ request.GET.v }}">#{{ tag }}</a>
      {% endfor %}
  </td>
  <td class="no-wrap px-1">
    <a class="Link--muted" href="{{ trash.get_absolute_url }}">
    {% if trash.filename_list %}
    <svg class="octicon" style="width:16px;height:16px"><use xlink:href="#code-square" /></svg> {{ trash.filename_list|length }} file{% if trash.filename_list|length > 1 %}s{% endif %}
    </a>
    {% endif %}
  </td>
  <td class="f6 px-1" nowrap>
    <a class="Link--muted" href="{{ trash.get_absolute_url }}">deleted {{ trash.deleted_at|timestamp_timesince }}</a>
  </td>
</tr>
{% endfor %}
</table>
{% include "_blocks/pagination.html" %}
