{% extends "_base.html" %}

{% block content %}
<div class="page-content container-lg text-center">
    <h1 class="mb-4 text-center">Scripts</h1>
<table class="width-full">
<tr class="Box-row Box-row--hover-gray">
    <td class="no-wrap p-1 text-bold text-left">download</td>
    <td class="no-wrap p-1 text-bold text-left">description</td>
</tr>
<tr class="Box-row Box-row--hover-gray">
    <td class="no-wrap p-1 text-bold text-left">git clone</td>
    <td class="no-wrap p-1 text-bold text-left">git clone all gists</td>
</tr>
</table>
</div>
{% endblock %}
