{% extends "_base.html" %}

{% block content %}
<div class="page-content container-lg text-center">
    <h1>Token</h1>
    {% if token %}
        {% include "token/_blocks/core.html" %}
        <h1 class="Subhead-heading">Ratelimit</h1>
        {% include "token/_blocks/core.html" %}
        {% include "token/_blocks/graphql.html" %}
        {% include "token/_blocks/delete.html" %}
    {% else %}
        token not found. <a href="/logout">logout</a> and login again
    {% endif %}
</div>
{% endblock %}
