<form class="js-site-search-form" action="/search" method="GET" autocomplete="off">
    <label class="form-control input-sm header-search-wrapper p-0 header-search-wrapper-jump-to position-relative d-flex flex-justify-between flex-items-center js-chromeless-input-container">
      <input type="search" class="form-control input-sm header-search-input jump-to-field js-jump-to-field js-site-search-focus js-site-search-field is-clearable" name="q" value="" placeholder="Github user…" autocapitalize="off" aria-autocomplete="list" spellcheck="false" autocomplete="no">
    </label>
</form>
