<!DOCTYPE html>
{% load static %}
{% load manifest %}
{% load timestamp_timesince %}
<html>
    <head>
<base href="{{ BASE_URL }}">
<title>{% block title %}Gist-manager{% endblock %}</title>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
<link rel="stylesheet" href="{% manifest 'main.css' %}">
{% block extra_head %}{% endblock %}
    </head>
<body class="{% block body_class %}{% endblock %}">
{% block body %}
{% include "_blocks/octicons.html" %}
<div class="position-relative js-header-wrapper">
    {% include "_blocks/header.html" %}
</div>
{% if request.user.is_superuser and incident_list %}
<div class="flash flash-full flash-error">
{% include "_blocks/incident_list.html" %}
</div>
{% endif %}
{% if messages %}
{% include "_blocks/message_list.html" %}
{% endif %}
{% block content %}{% endblock %}
{% block footer %}{% include "_blocks/footer.html" %}{% endblock %}
<script src="{% manifest 'main.js' %}"></script>
{% block extra_js %}
    {# Override this in templates to add extra javascript #}
{% endblock %}
{% endblock %}
{% include "_blocks/gtag.html" %}
</body>
