{% include "_blocks/details.html" with summary_name="Type" menu_title="Select type" menu_item_list=context_data.details.type_menu_item_list %}
{% if context_data.details.language_menu_item_list %}
{% include "_blocks/details.html" with summary_name="Language" menu_title="Select language" menu_item_list=context_data.details.language_menu_item_list %}
{% endif %}
{% if context_data.details.tag_menu_item_list %}
{% include "_blocks/details.html" with summary_name="Tag" menu_title="Select tag" menu_item_list=context_data.details.tag_menu_item_list %}
{% endif %}
{% if context_data.details.sort_menu_item_list %}
{% include "_blocks/details.html" with summary_name="Sort" menu_title="Select order"  menu_item_list=context_data.details.sort_menu_item_list %}
{% include "_blocks/details.html" with summary_name="View" menu_title="Results per page" menu_item_list=context_data.details.view_menu_item_list %}
{% endif %}
<!-- github etalon css -->
github etalon css
{% include "user/gists/_blocks/search/details_github_css.html" %}
