{% extends "user/_base.html" %}

{% block container %}
<div class="clearfix px-2">
    {% if context_data.github_user.is_restricted %}
      {% include "user/gists/_blocks/restricted.html" %}
    {% else %}
        {% include "user/gists/_blocks/extra_links.html" %}
        {% include "user/gists/_blocks/search.html" %}
        {% include "_blocks/search/results.html" %}
        {% if context_data.links.starred.count %}
          {% include "user/starred/_blocks/table.html" %}
          {% include "_blocks/pagination.html" %}
        {% else %}
          {% include "user/gists/_blocks/blankslate.html" %}
        {% endif %}
    {% endif %}
</div>
{% endblock %}
