{% extends "_base.html" %}

{% load format_count %}
{% load timestamp2datetime %}

{% block content %}
<div class="page-content container-lg">
<h1>Stats</h1>
<table>
<tr class="Box-row Box-row--hover-gray">
    <td class="px-1">github users</td>
    <td class="px-1 text-mono">{{ stat.github_users_count|format_count }}</td>
</tr>
<tr>
    <td class="px-1">github gists</td>
    <td class="px-1 text-mono">{{ stat.github_gists_count|format_count }}</td>
</tr>
</table>
updated {{ stat.timestamp|timestamp2datetime|date:'h:i:s'}} UTC

<h3>New users</h3>
<table>
{% for github_user in new_user_list %}
<tr class="Box-row Box-row--hover-gray">
    <td class="px-2"><a class="avatar" href="{{ context_data.github_user.get_absolute_url }}"><img src="https://avatars.githubusercontent.com/u/{{ context_data.github_user.id }}?s=32&amp;v=4" /></a></td>
    <td class="px-2"><a class="avatar" href="{{ context_data.github_user.get_absolute_url }}">{{ user.login }}</a></td>
    <td class="px-2"><a href="{{ context_data.github_user.get_absolute_url }}">42 gists</td>
</tr>
{% endfor %}
</table>
</div>
{% endblock %}
