<textarea class="color-bg-subtle text-mono" id="textarea" rows="10" cols="100">#!/bin/sh
! [ -e {% if request.GET.name|default:'id' == 'id' %}{{ context_data.gist.id }}{% else %}{{ context_data.gist.filename_list.0 }}{% endif %} ] && {
  ( set -x; git clone -q {% if request.GET.protocol != 'https' %}git@gist.github.com:{{ context_data.gist.id }}.git{% else %}https://gist.github.com/{{ context_data.gist.id }}.git{% endif %} {% if request.GET.name|default:'id' == 'id' %}{{ context_data.gist.id }}{% else %}{{ context_data.gist.filename_list.0 }}/{% endif %} ) || exit
}
</textarea>
